body {
    padding: 50px;
    font-family: sans-serif;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}

#app {
    max-width: 100%;
    width: 900px;
    margin: 2em auto;
    padding: 1em;
}